@model ParkMvc.Models.HomeIndexViewModel
@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<h2>Purpose of TrailApp</h2>
<p>Our web app is designed to make the community aware of the parks and activities around them. 
    Especially during the pandemic, outdoor activities have become increasingly popular as people 
    find new ways to have fun, safely. As people work virtually, they tend to forget the importance 
    of their mental and physical health as they stay indoors, daily. However, New York City offers 
    various parks to help fulfill this necessary aspect of our lives. 
    Users will be able to discover trails to accomodate their needs.
</p>

<h2>Why TrailApp?</h2>
<p>Many apps are focused on transportation or certain parks nearby. Our app focuses on
    ensuring that the community can find specific trails within parks nearby that can help
    them build a better lifestyle.
</p>