@{
    ViewData["Title"] = "Map of Parks and Trails";
}
<h1>@ViewData["Title"]</h1>

<p>This is a map of the parks and the trails within them.</p>

<iframe src="https://data.cityofnewyork.us/dataset/Parks-Trails-Map/iidj-gxys/embed?width=800&height=600" width="800" height="600" style="border:0; padding: 0; margin: 0;"></iframe>
